In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5, np.nan, 6,8 ])

In [6]:
dates = pd.date_range('20130101', periods = 6)
dates
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.112959 -0.426658  1.336946  1.586535
2013-01-02  0.085895  0.982035  0.657900  0.376439
2013-01-03 -0.302095 -1.393957  0.711975 -0.453794
2013-01-04 -1.004823  1.148880 -0.314322  0.404630
2013-01-05 -0.280600 -0.165989 -0.187675 -0.652289
2013-01-06 -0.827708 -1.333869  0.864992 -0.294121

In [9]:
df2 = pd.DataFrame({'A':1,
                   'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1, index = list(range(4)), dtype = 'float32'),
                   'D':np.array([3]*4, dtype = 'int32'),
                   'E':pd.Categorical(["test","train","test","train"]),
                   'F':'foo'})

df2

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
# selection by labels
df.loc[:, ['A','B']]

                   A         B
2013-01-01 -1.112959 -0.426658
2013-01-02  0.085895  0.982035
2013-01-03 -0.302095 -1.393957
2013-01-04 -1.004823  1.148880
2013-01-05 -0.280600 -0.165989
2013-01-06 -0.827708 -1.333869

In [18]:
# selection by position
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.004823  1.148880
2013-01-05 -0.280600 -0.165989

In [19]:
#In Pandas, indexing a DataFrame returns a reference to the initial DataFrame. Thus, changing the subset will change the initial DataFrame. Thus, you'd want to use the copy if you want to make sure the initial DataFrame shouldn't change.

df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2013-01-03 -0.302095 -1.393957  0.711975 -0.453794   two
2013-01-05 -0.280600 -0.165989 -0.187675 -0.652289  four

In [20]:
left = pd.DataFrame({'key':['foo','bar'], 'lval': [1,2]})
right = pd.DataFrame({'key':['foo','bar'], 'rval': [4,5]})
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [21]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                      'foo', 'foo', 'qux', 'qux'],
                      ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [22]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [25]:
formula = 'Var128654 ~ Var128237 + Var128238 + Var128239 + Var128240 + Var128241 + Var128242 + Var128243 + Var128244 + Var128651 + Var127902 + Var128247 + Var128264 + Var128279 + (C(SplitGroup127944): Var127944) + Var127894 + Var127896 + (C(SplitGroup127962): Var127962) + (C(SplitGroup127960): Var127960) + Var128746 + Var128783 + Var128665 + Var128666 + Var128667 + Var128668 + Var128669 + Var128670 + Var128671 + Var128672 + (C(SplitGroup128731): Var128731) + Var128103 + Var129161 + Var128747 + Var128762 + (C(SplitGroup128730): Var128730) + (C(SplitGroup131024): Var131024) + Var136205 + Var136207 + Var132859 + Var144339 + (C(SplitGroup135471): Var135471) + (C(SplitGroup135469): Var135469) + (C(SplitGroup135470): Var135470) + (C(SplitGroup135473): Var135473) + (C(SplitGroup135472): Var135472) + (C(SplitGroup135468): Var135468) + (C(SplitGroup135474): Var135474) + Var129148 -1'

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('R:/Developer/Debashis/regression_input_0423.csv')

In [6]:
df.shape

(228794, 458)

In [7]:
df.describe()

,Unnamed: 0,dimension_a,time,dimension_a1524235800,Var128013,Var128015,Var129148,Var129161,Var129196,Var129197,...,Var135474_original,Var135470_original,Var135471_original,Var135472_original,Var135473_original,Var127960_original,Var127962_original,Var128731_original,Var128730_original,Var135468_original
count,228794.000000,228794.000000,228794.000000,228794.000000,2.287940e+05,2.287940e+05,228794.000000,228794.000000,2.287940e+05,2.287940e+05,...,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000
mean,118573.456210,5845.075426,79.606074,5845.075426,1.597326e+05,2.072204e+03,1.000007,0.021460,2.874664e+01,2.523405e+04,...,0.121926,0.154117,0.070373,0.110475,0.013235,0.846144,0.418686,1.000698,0.000434,0.470104
std,67901.728999,435.699820,44.978191,435.699820,1.412442e+06,1.204778e+04,0.058226,0.144913,5.440262e+01,7.920833e+04,...,0.327201,0.361061,0.255776,0.313481,0.114278,1.925319,0.612990,0.604002,1.246846,0.499107
min,0.000000,5085.000000,2.000000,5085.000000,0.000000e+00,0.000000e+00,0.852640,0.000000,9.737065e-31,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.096833,-4.993810,0.000000
25%,59880.250000,5468.000000,41.000000,5468.000000,0.000000e+00,0.000000e+00,0.957495,0.000000,1.116752e-18,2.221736e-44,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010134,0.421433,-0.771429,0.000000
50%,119135.500000,5848.000000,80.000000,5848.000000,0.000000e+00,0.000000e+00,0.998886,0.000000,6.241671e-07,6.865208e-18,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.184624,0.918792,0.047619,0.000000
75%,177331.750000,6222.000000,119.000000,6222.000000,0.000000e+00,2.240886e-20,1.043035,0.000000,3.290767e+01,1.541639e-04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.553874,1.652610,0.923810,1.000000
max,236183.000000,6599.000000,157.000000,6599.000000,1.634319e+07,8.665687e+04,1.134094,1.000000,3.406008e+02,3.501499e+05,...,1.000000,1.000000,1.000000,1.000000,1.000000,14.449658,7.658079,1.890429,3.400000,1.000000

In [77]:
from patsy import dmatrices
import time
start_time = time.time()
y, X = dmatrices(formula, data=df, return_type='dataframe')
print("--- %s seconds ---" % (time.time() - start_time))

--- 21.83722448348999 seconds ---

In [76]:
start_time = time.time()
r = re.compile("[Var Split]")
newlist = list(filter(r.match,re.split('[\' .,()_]', formula)))
df2 = df[df.columns.intersection(newlist)]
y, X = dmatrices(formula, data=df2, return_type='dataframe')
print("--- %s seconds ---" % (time.time() - start_time))

--- 21.04035520553589 seconds ---