In [ ]:
import pandas as pd

df = pd.read_csv('R:/Developer/Debashis/regression_input_0423.csv')

df.shape

df.describe()

In [14]:
formula = 'Var128654 ~ Var128237 + Var128238 + Var128239 + Var128240 + Var128241 + Var128242 + Var128243 + Var128244 + Var128651 + Var127902 + Var128247 + Var128264 + Var128279 + Var127894 + Var127896 + Var128746 + Var128783 + Var128665 + Var128666 + Var128667 + Var128668 + Var128669 + Var128670 + Var128671 + Var128672  + Var128103 + Var129161 + Var128747 + Var128762 + (C(SplitGroup128730): Var128730)  + Var136205 + Var136207 + Var132859 + Var144339 + Var129148 -1'

In [15]:
from patsy import dmatrices
import time
import re
start_time = time.time()
y, X = dmatrices(formula, data=df, return_type='dataframe')
print("--- %s seconds ---" % (time.time() - start_time))

start_time = time.time()
r = re.compile("[Var Split]")
newlist = list(filter(r.match,re.split('[\' .,()_]', formula)))
df2 = df[df.columns.intersection(newlist)]
y, X = dmatrices(formula, data=df2, return_type='dataframe')
print("--- %s seconds ---" % (time.time() - start_time))

--- 2.0873706340789795 seconds ---
--- 2.113370656967163 seconds ---

In [5]:
df2.describe()

,Var129148,Var129161,Var135468,Var135469,Var135470,Var135471,Var135472,Var135473,Var135474,Var127894,...,SplitGroup127944,SplitGroup135469,SplitGroup135473,SplitGroup135468,SplitGroup127962,SplitGroup135472,SplitGroup127960,SplitGroup135470,SplitGroup135471,SplitGroup135474
count,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,...,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000,228794.000000
mean,1.000007,0.021460,0.470104,0.059770,0.154117,0.070373,0.110475,0.013235,0.121926,0.095273,...,479656.844039,567991.403092,568012.426803,568018.601747,479690.014170,568015.694402,479700.956983,567995.109199,567988.163518,568086.844039
std,0.058226,0.144913,0.499107,0.237061,0.361061,0.255776,0.313481,0.114278,0.327201,0.292723,...,3.165796,13.433333,17.786364,17.527102,0.815911,17.825953,2.345185,14.240440,11.468149,3.165796
min,0.852640,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,479655.000000,567985.000000,568002.000000,568008.000000,479689.000000,568005.000000,479693.000000,567988.000000,567983.000000,568085.000000
25%,0.957495,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,479655.000000,567985.000000,568002.000000,568008.000000,479689.000000,568005.000000,479702.000000,567988.000000,567983.000000,568085.000000
50%,0.998886,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,479655.000000,567985.000000,568002.000000,568008.000000,479690.000000,568005.000000,479702.000000,567988.000000,567983.000000,568085.000000
75%,1.043035,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,479657.000000,567990.000000,568013.000000,568020.000000,479691.000000,568017.000000,479702.000000,567994.000000,567986.000000,568087.000000
max,1.134094,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,479670.000000,568059.000000,568079.000000,568081.000000,479691.000000,568080.000000,479702.000000,568062.000000,568048.000000,568100.000000